__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
.env
.venv/
.envrc
.ipynb_checkpoints/
.DS_Store
Thumbs.db

data/raw/uavscenes_official/*
!data/raw/uavscenes_official/cmap.py
!data/raw/uavscenes_official/calibration_results.py
!data/raw/uavscenes_official/README_DATASET_PLACEHOLDER.md

data/processed/cache/*
!data/processed/cache/.gitkeep

checkpoints/**/*
!checkpoints/**/.gitkeep

logs/**/*
!logs/**/.gitkeep

results/**/*
!results/**/.gitkeep
